*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: white;
    font-weight: bold;
}

body{
    height: 100vh;
    text-align: center;
    display: flex;
   
    flex-direction: column;
}

header{
    background-color: brown;
    padding-top:3rem ;
    padding-bottom:3rem ;


}

main{
    display: flex;
    flex: 1;

}

.navv{
    background-color: rgb(245, 194, 245);
    padding-top: 3rem;
    flex: 1 1 5rem;

}

.art{
    background-color: cadetblue;
    padding-top: 3rem;
    flex: 3 3 ;

}

.ass{
    padding-top: 3rem;
    background-color: burlywood;
    flex: 1 1  5rem ;
    padding-top: 3rem;
}

footer{
    background-color: brown;
    padding-top:3rem ;
    padding-bottom:3rem ;
}

@media (max-width: 540px) {
    .mainito {
      flex-direction: column;
    }
  }

